// core
@import 'variables/index';
@import 'reset';
@import 'grid';
@import 'mixins';
@import 'utils';
@import 'animation';

// fonts
// @include font-face('Font name', '~assets/fonts/font_name/font_file', 400);
@include font-face('IBM Plex Sans', '~assets/fonts/IBM_Plex_Sans/ibm-plex-sans-v8-latin-regular', 400);
@include font-face('IBM Plex Sans', '~assets/fonts/IBM_Plex_Sans/ibm-plex-sans-v8-latin-600', 600);

// common styles
body {
  font-family: $font-family-default;
  font-size: $font-size-default;
  line-height: $line-height-default;
  letter-spacing: $letter-spacing-default;
  font-weight: $font-weight-normal;
  color: $color-text-regular;
  background: $background-color-default;
}
