$font-family-default: 'IBM Plex Sans', sans-serif;
$font-family-secondary: '';

$font-size-default: 16px;
$line-height-default: 28px;
$letter-spacing-default: 0.01em;

$font-weight-normal: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
